.heroContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/Hero.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.menuList ul {
  display: flex;
  gap: 18px;
}
.menuList ul li {
  list-style: none;
}
.menuList ul li a {
  color: inherit;
}
.hero-wrapper {
  position: relative;
  height: 100%;
}
.caption {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25%;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  text-align: center;
}
.caption button {
  cursor: pointer;
  padding-inline: 20px;
  padding-block: 4px;
  border-radius: 8px;
  /*background-color: rgb(124, 17, 17);
  border-image: linear-gradient(to right, #ff416c, #8a645d);
    border: 4px solid transparent;

  border-image-slice: 1;
  background-clip: padding-box;
  background-origin: border-box;
  */
}
.caption h1 {
  font-family: "Inria sans";
  font-style: italic;
}
