.globalContainer {
  display: flex;
  padding-top: 5em;
  justify-content: space-between;
  gap: 6rem;
}
.globalText {
  flex: 1;
  line-height: 4.5em;
  font-size: 1.1em;
}
.globalImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.globalImage img {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 1024px) {
  .globalText {
    line-height: 2.2em;
  }
}
