.contactContainer {
  height: 100vh;
}

.contactTitle {
  display: flex;
  justify-content: center;
}

.emailContainer textarea {
  height: 200px;
  width: 400px;
}
.contactContainer input {
  margin-left: 18px;
}
