.contactContainer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.contactContainerP {
  padding-bottom: 1em;
}

.contactTitle {
  display: flex;
  justify-content: center;
}
.emailContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.emailContainer textarea {
  height: 200px;
  width: auto;
}
.facebook {
  background-image: url(../../../public/assets/Facebook.png);
  height: 50px;
  width: 50px;
  background-size: cover;
}
.insta {
  background-image: url(../../../public/assets/Instagram.png);
  height: 50px;
  width: 50px;
  background-size: cover;
}
.leftSide {
  flex: 1;
}
.rightSide {
  padding-top: 32px;
  flex: 1;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
