.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 555;
  width: 1024px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 12px 12px;
  backdrop-filter: blur(20px);
  top: 24px;
  padding: 8px 24px;
}

.menuList ul {
  display: flex;
  gap: 18px;
}
.menuList ul li {
  list-style: none;
}
.menuList ul li a {
  color: white;
}
.burger-menu-container,
.burger-container {
  display: none;
}
.burger-menu-container img {
  height: 30px;
  width: 30px;
}

@media (max-width: 1024px) {
  .headerContainer {
    width: 700px;
  }
  @media (max-width: 700px) {
    .headerContainer {
      width: unset;
      left: 32px;
      right: 32px;
      padding: 16px;
    }
    .menuList {
      display: none;
    }
    .burger-menu-container,
    .burger-container {
      display: block;
    }
    .burger-container {
      position: fixed;
      z-index: 99;
      background-color: black;
      left: 0;
      right: 0;
      transform: translateY(-100%);
      transition: all 500ms cubic-bezier(0.1, 0.9, 0.1, 0.91);
      z-index: 9999;
    }
    .burger-container.active {
      transform: translateY(0);
    }
    .burger-container ul {
      margin: 0px;
    }
    .burger-container ul li {
      list-style: none;
      line-height: 7em;
    }
    .close-button {
      position: absolute;
      right: 50px;
      top: 15px;
    }
    .close-button h1 {
      font-size: 2em;
    }
  }
}
