.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
.menuList ul {
  display: flex;
  gap: 18px;
}
.menuList ul li {
  list-style: none;
}
.menuList ul li a {
  color: inherit;
}
