.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0px;
  box-sizing: border-box;
  z-index: 55555;
  width: 1024px;
  position: fixed;
}

.menuList ul {
  display: flex;
  gap: 18px;
}
.menuList ul li {
  list-style: none;
}
.menuList ul li a {
  color: inherit;
}
