.footerContainer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-inline: 15px;
}
.footerContainer h3 {
  color: white;
}

@media (max-width: 700px) {
  .footerContainer {
    font-size: 0.55em;
  }
}
