:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  background-color: rgb(45, 45, 45);
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 700px;
  }
  h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 720px) {
  .wrapper {
    padding-inline: 1em;
  }
}
